### Build a recommender system by using cosine simillarties score.

In [1]:
import pandas as pd

In [2]:
movie_data = pd.read_csv('Movie.csv')
movie_data

      userId             movie  rating
0          3  Toy Story (1995)     4.0
1          6  Toy Story (1995)     5.0
2          8  Toy Story (1995)     4.0
3         10  Toy Story (1995)     4.0
4         11  Toy Story (1995)     4.5
...      ...               ...     ...
8987    7087  GoldenEye (1995)     3.0
8988    7088  GoldenEye (1995)     1.0
8989    7105  GoldenEye (1995)     2.0
8990    7113  GoldenEye (1995)     3.0
8991    7117  GoldenEye (1995)     3.0

[8992 rows x 3 columns]

In [3]:
movie_data['movie'].unique()

array(['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)',
       'Waiting to Exhale (1995)', 'Father of the Bride Part II (1995)',
       'Heat (1995)', 'Sabrina (1995)', 'Tom and Huck (1995)',
       'Sudden Death (1995)', 'GoldenEye (1995)'], dtype=object)

In [4]:
movie_data['movie'].nunique()

10

In [5]:
movie_data['userId'].unique()

array([   3,    6,    8, ..., 7080, 7087, 7105], dtype=int64)

In [6]:
movie_data['userId'].nunique()

4081

In [7]:
pivot_data = pd.pivot_table( data = movie_data,values='rating',index='movie',columns='userId',).fillna(0)
pivot_data.columns = movie_data['userId'].unique()
pivot_data

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
movie,,,,,,,,,,,,,,,,,,,,,
Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,3.5,0.0,0.0,0.0
GoldenEye (1995),0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,2.5,...,2.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0
Grumpier Old Men (1995),0.0,4.0,0.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
Heat (1995),0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,0.0
Jumanji (1995),3.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0
Sabrina (1995),0.0,0.0,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0
Sudden Death (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Tom and Huck (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Toy Story (1995),0.0,0.0,4.0,0.0,0.0,5.0,0.0,4.0,4.0,4.5,...,0.0,4.0,0.0,4.0,0.0,0.0,4.0,4.0,5.0,4.5
Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
corr_metric = pivot_data.corr().round(3)
corr_metric

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,1.000,-0.111,-0.111,-0.165,1.000,-0.211,-0.167,-0.265,-0.111,-0.159,...,-0.111,-0.111,1.000,0.667,-0.167,-0.111,-0.166,-0.351,-0.111,0.479
6,-0.111,1.000,-0.111,-0.165,-0.111,0.276,0.667,0.564,-0.111,-0.159,...,-0.111,-0.111,-0.111,-0.167,-0.167,-0.111,-0.166,0.351,-0.111,-0.218
8,-0.111,-0.111,1.000,-0.165,-0.111,0.601,-0.167,0.398,1.000,0.862,...,-0.111,1.000,-0.111,0.667,-0.167,-0.111,0.720,0.351,1.000,0.566
10,-0.165,-0.165,-0.165,1.000,-0.165,-0.313,-0.247,0.484,-0.165,0.245,...,0.776,-0.165,-0.165,-0.247,0.987,-0.165,-0.246,0.483,-0.165,-0.322
11,1.000,-0.111,-0.111,-0.165,1.000,-0.211,-0.167,-0.265,-0.111,-0.159,...,-0.111,-0.111,1.000,0.667,-0.167,-0.111,-0.166,-0.351,-0.111,0.479
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,-0.111,-0.111,-0.111,-0.165,-0.111,-0.211,-0.167,-0.265,-0.111,-0.159,...,-0.111,-0.111,-0.111,-0.167,-0.167,1.000,0.609,-0.351,-0.111,-0.218
7070,-0.166,-0.166,0.720,-0.246,-0.166,0.332,-0.249,0.132,0.720,0.577,...,-0.166,0.720,-0.166,0.416,-0.249,0.609,1.000,0.035,0.720,0.300
7080,-0.351,0.351,0.351,0.483,-0.351,0.539,0.395,0.813,0.351,0.412,...,0.176,0.351,-0.351,0.000,0.527,-0.351,0.035,1.000,0.351,0.138
7087,-0.111,-0.111,1.000,-0.165,-0.111,0.601,-0.167,0.398,1.000,0.862,...,-0.111,1.000,-0.111,0.667,-0.167,-0.111,0.720,0.351,1.000,0.566
7105,0.479,-0.218,0.566,-0.322,0.479,0.668,0.196,-0.052,0.566,0.409,...,-0.218,0.566,0.479,0.784,-0.327,-0.218,0.300,0.138,0.566,1.000

In [9]:
euclideon_pivot_table = pivot_data.T
euclideon_pivot_table

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
3,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
10,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7044,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7070,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
7080,0.0,3.0,4.0,5.0,0.0,3.0,1.0,0.0,4.0,0.0
7087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
7105,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,4.5,0.0

In [10]:
from sklearn.metrics import pairwise_distances

In [11]:
euclideon_distance = pairwise_distances(X = euclideon_pivot_table,metric='euclidean')
euclideon_distance

array([[0.        , 5.31507291, 5.31507291, ..., 9.39414711, 6.10327781,
        6.04152299],
       [5.31507291, 0.        , 5.65685425, ..., 7.74596669, 6.40312424,
        8.26135582],
       [5.31507291, 5.65685425, 0.        , ..., 7.74596669, 1.        ,
        5.67890835],
       ...,
       [9.39414711, 7.74596669, 7.74596669, ..., 0.        , 7.81024968,
        8.26135582],
       [6.10327781, 6.40312424, 1.        , ..., 7.81024968, 0.        ,
        5.67890835],
       [6.04152299, 8.26135582, 5.67890835, ..., 8.26135582, 5.67890835,
        0.        ]])

In [12]:
euclideon_distance = pd.DataFrame(data=euclideon_distance)
euclideon_distance.columns = movie_data['userId'].unique()
euclideon_distance.index   = movie_data['userId'].unique()
euclideon_distance.round(3)

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,0.000,5.315,5.315,6.103,0.500,8.441,5.500,8.846,5.315,6.225,...,4.031,5.315,1.500,4.031,5.500,5.315,6.364,9.394,6.103,6.042
6,5.315,0.000,5.657,6.403,5.000,7.141,3.162,6.481,5.657,6.519,...,4.472,5.657,4.472,6.928,5.831,5.657,6.652,7.746,6.403,8.261
8,5.315,5.657,0.000,6.403,5.000,5.916,5.831,7.071,0.000,2.550,...,4.472,0.000,4.472,4.000,5.831,5.657,3.500,7.746,1.000,5.679
10,6.103,6.403,6.403,0.000,5.831,9.165,6.557,6.403,6.403,5.612,...,3.606,6.403,5.385,7.550,1.000,6.403,7.297,6.856,7.071,8.789
11,0.500,5.000,5.000,5.831,0.000,8.246,5.196,8.660,5.000,5.958,...,3.606,5.000,1.000,4.123,5.196,5.000,6.103,9.220,5.831,6.103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,5.315,5.657,5.657,6.403,5.000,8.660,5.831,9.055,5.657,6.519,...,4.472,5.657,4.472,6.928,5.831,0.000,4.031,9.592,6.403,8.261
7070,6.364,6.652,3.500,7.297,6.103,6.874,6.801,7.890,3.500,4.330,...,5.679,3.500,5.679,5.315,6.801,4.031,0.000,8.500,3.640,6.671
7080,9.394,7.746,7.746,6.856,9.220,6.403,7.211,4.000,7.746,7.176,...,8.246,7.746,8.944,8.718,6.782,9.592,8.500,0.000,7.810,8.261
7087,6.103,6.403,1.000,7.071,5.831,5.831,6.557,7.141,1.000,2.550,...,5.385,1.000,5.385,4.123,6.557,6.403,3.640,7.810,0.000,5.679
7105,6.042,8.261,5.679,8.789,6.103,5.123,6.801,9.069,5.679,6.185,...,7.500,5.679,6.344,4.031,8.382,8.261,6.671,8.261,5.679,0.000

In [13]:
cosine_distance = 1 - pairwise_distances(X = euclideon_pivot_table,metric='cosine')
cosine_distance

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.55337157],
       [0.        , 1.        , 0.        , ..., 0.45883147, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.45883147, 1.        ,
        0.62254302],
       ...,
       [0.        , 0.45883147, 0.45883147, ..., 1.        , 0.45883147,
        0.47607054],
       [0.        , 0.        , 1.        , ..., 0.45883147, 1.        ,
        0.62254302],
       [0.55337157, 0.        , 0.62254302, ..., 0.47607054, 0.62254302,
        1.        ]])

In [14]:
cosine_distance = pd.DataFrame(data=cosine_distance)
cosine_distance.columns = movie_data['userId'].unique()
cosine_distance.index   = movie_data['userId'].unique()
cosine_distance.round(3)

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,1.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,1.000,0.707,0.000,0.000,0.000,0.000,0.000,0.553
6,0.000,1.000,0.000,0.000,0.000,0.391,0.707,0.615,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.459,0.000,0.000
8,0.000,0.000,1.000,0.000,0.000,0.651,0.000,0.492,1.000,0.874,...,0.000,1.000,0.000,0.707,0.000,0.000,0.753,0.459,1.000,0.623
10,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.615,0.000,0.389,...,0.800,0.000,0.000,0.000,0.990,0.000,0.000,0.619,0.000,0.000
11,1.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,1.000,0.707,0.000,0.000,0.000,0.000,0.000,0.553
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,1.000,0.659,0.000,0.000,0.000
7070,0.000,0.000,0.753,0.000,0.000,0.490,0.000,0.371,0.753,0.658,...,0.000,0.753,0.000,0.532,0.000,0.659,1.000,0.345,0.753,0.469
7080,0.000,0.459,0.459,0.619,0.000,0.702,0.568,0.890,0.459,0.568,...,0.344,0.459,0.000,0.324,0.649,0.000,0.345,1.000,0.459,0.476
7087,0.000,0.000,1.000,0.000,0.000,0.651,0.000,0.492,1.000,0.874,...,0.000,1.000,0.000,0.707,0.000,0.000,0.753,0.459,1.000,0.623
7105,0.553,0.000,0.623,0.000,0.553,0.765,0.391,0.307,0.623,0.544,...,0.000,0.623,0.553,0.831,0.000,0.000,0.469,0.476,0.623,1.000

In [15]:
movie_data[movie_data['userId'] == 8]

      userId                    movie  rating
2          8         Toy Story (1995)     4.0
3727       8  Grumpier Old Men (1995)     5.0
5205       8              Heat (1995)     3.0
7445       8         GoldenEye (1995)     4.0

In [16]:
movie_data[movie_data['userId'] == 16]

      userId             movie  rating
8         16  Toy Story (1995)     3.0
5207      16       Heat (1995)     3.0

In [17]:
movie_data[(movie_data['userId'] == 8) | (movie_data['userId'] == 16) | (movie_data['userId'] == 6979) ]

      userId                    movie  rating
2          8         Toy Story (1995)     4.0
8         16         Toy Story (1995)     3.0
3727       8  Grumpier Old Men (1995)     5.0
5205       8              Heat (1995)     3.0
5207      16              Heat (1995)     3.0
7445       8         GoldenEye (1995)     4.0
8963    6979         GoldenEye (1995)     4.0